{% include "index.html" %}

{% block content %}
<section id="hero">
    <div class="container">
        <div class="form-container">
            <div id="header" class="header">
                <h1>Oto Twoje dane</h1>
            </div>
            <div class="latest-post">
                <h2>{{ person.name }}</h2>
                <div class="meme">
                    <img src="{{ person.qr.url }}" alt="QR Code">
                </div>
                <h2>{{ person.vcard_url }}</h2>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}

{% endblock footer %}
